

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #084236;
}

ul {
  list-style: none;
}

svg {
  height: 24px;
  width: 24px;
}

body {
  background-color: #dce4e3;

  main {
    height: 100vh;
    display: flex;

    .lateral-menu {
      min-width: 78px;
      height: 100vh;
      background-color: #18c29c;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      transition: min-width 0.5s linear;

      header {
        width: 100%;
        margin-top: 10px;
        padding: 15px;

        nav {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            margin: auto;
            transition: margin 0.5s linear;

            .menu {
              cursor: pointer;
            }
          }

          .logo {
            display: none;
          }
        }
      }

      ul {
        width: 100%;
        padding: 15px;

        li {
          height: 60px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 12px;
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: #8ed7c6;
          }

          span {
            display: none;
            transition: 0.5s linear;
          }
        }
      }

      footer {
        width: 100%;
        height: 90px;
        padding: 15px;
        background-color: #8ed7c6;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
          display: none;
        }

        a {
          margin: auto;
          cursor: pointer;
          transition: margin 0.5s linear;
        }
      }

      &.active {
        transition: min-width 0.5s;
        min-width: 250px;

        header {
          nav {
            a {
              margin: 0;
              transition: margin 0.5s linear;
            }

            .logo {
              display: flex;

              svg {
                margin-right: 10px;
                transition: margin-right 0.5s linear;
              }
            }
          }
        }

        ul {
          li {
            span {
              display: inline;
              margin-left: 15px;
              transition: margin-left 0.5s linear;
            }
          }
        }

        footer {
          .text {
            display: inline;
          }

          a {
            margin: 0;
            transition: margin 0.5s linear;
          }
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
    

      p {
        margin: 30px 0;
      }
    }
  }
}
